<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link href="/css/404_page.css" type="text/css" rel="stylesheet">

</head>
<body >


<div class="parent">
    <p align="center" class="image1" ><img  src="/img/404.png" width="180"></p>
    <p align="center" class="image2"><img src="/img/404gify.gif" width="300"></p>

</div>
<h1 align="center" class="errormessage" style="font: italic 35px Arial, sans-serif;color:#22699E">THIS GOURD IS CONFUSED</h1>


</body>
</html>