<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page </title>
</head>
<body>



<p align="center"><img src="https://raw.githubusercontent.com/sambe-consulting/sego/master/sego/assets/logo.png?token=ASI6IMQLECOW25335IBSGZLAJFVMW" width="400"></p>

<p align="center"><h3 style="color: #193967; text-align: center">A web and micro-service framework for data analysts </h3></p>

<p align="center">
    <a href="https://github.com/sambe-consulting/sego/actions/workflows/pytest-workflow.yml"><img src="https://github.com/sambe-consulting/sego/actions/workflows/pytest-workflow.yml/badge.svg"></a>
    <a href="https://houndci.com"><img src="https://img.shields.io/badge/Reviewed_by-Hound-8E64B0.svg"></a>
    <a href="https://github.com/apache/zookeeper/blob/master/LICENSE.txt"><img src="https://img.shields.io/github/license/apache/zookeeper"></a>


</p>
<h2>About Sego</h2>
<p>
Sego is a suite of tools for the "last mile" of ML and analytics projects. Sego is built to assist data scientists, analysts and engineers,productionize
ML workloads with ease. Sego is primarily used for:<br/>
<ul>
    <li>Model serving</li>
    <li>Multi-stage data processing</li>
    <li>Dashboards</li>
    <li>Metrics and alerting</li>
    <li>Database schema management</li>
</ul>

</p>
<p>
Sego can also be used to build:
<ul>
    <li>Rest APIs</li>
    <li>Micro-service topologies</li>
    <li>Normal MVC webapps </li>

</ul>
Sego provides an opinionated way to build production ML and analytics systems, but flexible enough to fit into different applications. It creates a
rapid development environment.

</p>

</body>
</html>